/* main */


:root {
    --primary-background-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent: #2196f3;
    --button-hover: #188ce8;
    --logo-color: #000000;
    --invert-text-color: #ffffff;
    --third-text-color: rgba(255, 255, 255, 0.6);
    --third-background-color: #2f303a;
  }
body{
    background-color: var(--invert-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}
.image {
	display: block;
	max-width: 100%;
	height: auto;
}
html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}



  /* header */



header{
    border-bottom: 1px solid #ECECEC;
  }
.page-header__container{
    display: flex;
    align-items: center;
  }
.page-header__navigation{
    display: flex;
    margin: 0;
  }
.page-header__logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent);
    text-decoration: none;
}
.logo-studio{
    color: var(--logo-color);
}
.page-header__list{
  display: flex;
  margin: 0;
  margin-left: 93px;
  align-items: center;
  justify-content: space-between;
  width: 222px;
  list-style: none;
	padding-left: 0;
}
.page-header__item{
  margin: 0;
}
.page-header__item .current {
  color: var(--accent);
}
.page-header__link {
  text-decoration: none;
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
	color: inherit;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color ;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__link:hover, 
.page-header__link:focus {
  color: var(--accent);

}
.current::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent);

}
.page-header__contacts{
  list-style: none;
	padding-left: 0;
	margin: 0;
  display: flex;
  margin-left: auto;
 }
.page-header__hookup{
 margin-left: 50px;
}
.page-header__ref{
  color:  var(--primary-text-color);
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition-property: color ;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__mail-icon{
  width: 16px;
  height: 12px;
  fill: var(--primary-text-color) ;
  margin-right: 10px;
  transition-property: fill ;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__phone-icon{
  width: 10px;
  height: 16px;
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition-property: fill ;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__ref:hover .page-header__mail-icon,
.page-header__ref:focus .page-header__mail-icon{
  fill: var(--accent);
}
.page-header__ref:hover .page-header__phone-icon,
.page-header__ref:focus .page-header__phone-icon{
  fill: var(--accent);
}
.page-header__ref:hover,
.page-header__ref:focus {
  color: var(--accent);
}



/* studia */



/*main-page*/



.main-page {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main1.jpg) ;
    height: 600px;
    max-width: 1600px;
    text-align: center;
    padding: 200px 0;
    margin: 0 auto;
    background-size: auto;
}
.main-page__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-background-color);
    margin-bottom: 30px; 
    margin-left: auto;
    margin-right: auto;
    width: 696px;
}
.main-page__button {
    background-color: var(--button-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 1.9;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    justify-content: center;
    padding: 10px 32px ;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: 0;
    min-width: 13px;
}



/*studio-facts*/



.studio-facts__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;
  justify-content: space-between;
}
.studio-facts__item{
  width: 270px;
}
.studio-facts__item::before{
  content: " ";
  display: block;
  height: 120px;
  background-color: rgba(245, 244, 250, 1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px;
  border-radius: 4px;
  margin-bottom: 30px;
}
.studio-facts__item:nth-child(1)::before{
  background-image: url(../images/antenna\ 1.png);
}
.studio-facts__item:nth-child(2)::before{
  background-image: url(../images/clock\ 1.png);
}
.studio-facts__item:nth-child(3)::before{
  background-image: url(../images/diagram\ 1.png);
}
.studio-facts__item:nth-child(4)::before{
  background-image: url(../images/astro.png);
}
.studio-facts__name {
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
}
.studio-facts__description{
    line-height: 1.71;
    color: var(--primary-text-color);
    margin: 0;
}



/*presentation*/



.presentation{
  padding-top: 0;
  text-align: center;
  align-items: center;
}
.presentation__title{
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color:var(--secondary-text-color);

}
.presentation__list{
  display: flex;
  text-decoration: none;
  padding-left: 0%;
  margin-top: -30px;
  margin-left: -30px;
  margin-bottom: 0;
}
.presentation__item{
  list-style: none;
  display: inline-block;
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 60px) / 3);
}
.presentation__overlay{
  position: relative;
}
.presentation__description{
  width: 100%;
  height: 70px;
  padding-top: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  }
.presentation__text{
  font-weight: 700;
  color: var(--invert-text-color);
  line-height: 1.18;
  text-transform: uppercase;
}



/*team-section*/



.team{
  text-align: center;
  align-items: center;
  background-color: var(--secondary-background-color);
}
.team__list{
  text-decoration: none;
  display: flex;
  padding-left: 0%;
  margin-top: -30px;
  margin-left: -30px;
  margin-bottom: 0;
}
.team__card{
    list-style: none;
    background: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    display: inline-block;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 120px) / 4);
}
.team__member{
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 4px;
  }
.team__description{
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    color: var(--primary-text-color);
    margin-bottom: 16px;
  }



  .list-team-icon{
    list-style: none;
    display: flex;
    padding-left: 0;
    margin: 0;
    justify-content: center;
}
  .media-icon-team{
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition-property: fill ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .item-team-icon-first{
    margin-left: 0;
  }
  .item-team-icon{
    margin-left: 10px;
  }
  .link-team-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color:  #FFFFFF;
  border-radius: 50%;
  transition-property: background-color ;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
  .link-team-icon:hover .media-icon-team,
  .link-team-icon:focus .media-icon-team{
    fill: #FFFFFF;
  }
  .link-team-icon:hover,
  .link-team-icon:focus{
    background-color: var(--accent);
  }



  /*clients-section*/



.list-clients{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
	padding-left: 0;
  margin: 0;
}
.item-clients{
  margin-left: 30px;
}
.item-clients-first{
  margin: 0;
}
.link-clients{
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  background-color: var(--primary-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  transition-property: border ;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  

}
.link-clients:hover .icon-clients,
.link-clients:focus .icon-clients {
  cursor: pointer;
  fill: var(--accent);
}
.link-clients:hover,
.link-clients:focus
{
  cursor: pointer;
  border: 1px solid var(--accent);
}
.icon-clients{
  height: 60px;
  width: 106px;
  padding: 0;
  fill: #AFB1B8;
  background-color: var(--primary-background-color);
  transition-property: fill ;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



/* portfolio */




/*button-section*/




.button-list{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
	padding-left: 0;
  margin: 0;
}
.button-item{
  list-style: none;
  display: inline-block;
  margin-right: 8px;
}
.button-item-last{
  margin-right: 0;
}
.button-portfolio{
    background: #F5F4FA;
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.63;
    text-align: center; 
    cursor: pointer;
    border-radius: 4px;
    border: 0;
    padding: 6px 22px ;
    transition-property: color, box-shadow, background-color ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
.button-portfolio.active{
  background-color: var(--accent);
  color: var(--primary-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-portfolio:hover,
.button-portfolio:focus{
    background-color: var(--accent);
    color: var(--invert-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}



/*service-section*/



.service{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: -30px;
  margin-bottom: -30px;
}
.servise-card-button{
  cursor: pointer;
  background-color: var(--primary-background-color);
  border: none;
  padding: 0;
  text-decoration: none;
  display: block;
  transition-property: box-shadow ;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.image-overlay{
  position: relative;
  overflow: hidden;
}
.service-overlay{
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.service-overlay-text{
  color: var(--invert-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}
.servise-card-button:hover .service-overlay,
.servise-card-button:focus .service-overlay {
  transform: translateY(0);
}
.servise-card-button:hover,
.servise-card-button:focus {
 box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.servise-card-button:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.service-card {
  list-style: none;
  flex-basis: calc((100% - 90px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  }
  .service-description{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    justify-content: left;
  }
  .service-title {
    font-size: 18px;
    color: var(--secondary-text-color);
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
  }
.service-text{
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
  margin: 0;
}


  /* footer */



  footer{
    background: var(--third-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: var(--accent);

  }
  .footer-section{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .logo-studio-footer{
    color: var(--invert-text-color);
  }
  address{
    font-style: normal;
    margin-top: 20px;
  }
  .footer-list{
    padding-left: 0;
    margin: 0;
    list-style: none;
  }
  .footer-item{
    list-style: none;
    margin-bottom: 9px;
  }
  .footer-item-contact{
    margin-bottom: 0;
  }
  .footer-link{
    text-decoration: none;
    line-height: 1.7;
    color:   rgba(255, 255, 255, 0.6);
    transition-property: color ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-link:hover,
  .footer-link:focus{
    color: var(--accent);
  }
.addreses{
  color: var(--invert-text-color);
}
.footer-join{
}
.list-join-icon{
  list-style: none;
  display: flex;
  padding-left: 0;
  
  margin: 0;

}
.text-join{
    font-weight: 700;
    line-height: 1.2; 
    color: var(--invert-text-color);
    margin-bottom: 20px;
    vertical-align: top;
    text-transform: uppercase;
}
.list-join-icon{
  display: flex;
}
.link-join-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color:  rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color ;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-join-icon:hover,
.link-join-icon:focus{
  background-color: var(--accent);
}
.media-icon-join{
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
  transition-property: background-color ;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.item-join-icon{
 margin-left: 10px;
}
.item-join-icon-first{
  margin-left: 0;
}
.link-join-icon:hover .media-icon-join,
.link-join-icon:focus .media-icon-join{
  background-color: var(--accent);
}

.form-footer-email{
  display: flex;
  align-items: center;
}
.fotter-email-button{
  background-color: var(--button-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 1.9;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px 28px ;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;
}
.icon-plane{
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;

}
.footer-input{
  width: 358px;
  height: 50px;
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--third-background-color);
  color: var(--invert-text-color);
  cursor: pointer;
  transition-property: border ;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input::placeholder{
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
.footer-input:hover,
.footer-input:focus {
  border: 1px solid var(--button-hover);
  outline: none;
}



/*Modal*/



.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop{
  position: fixed;
  transition: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2) ;
}
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  padding: 40px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  background-color: var(--primary-background-color);
  
}
.send-backdrop{
  align-items: center;
  text-align: center;
  margin-top: 30px;
}
.backdrop-title-modal{
  text-align: center;
  margin-bottom: 12px;
}
.backdrop-title{
  font-size: 20px;
  line-height: 1.15;
  color: var(--logo-color);
  margin-bottom: 0;
}

/*modal-button*/



.modal-close-icon {
  fill: currentColor;
  transition-property: fill ;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
  fill: #2196F3;
}
.backdrop-button{
  padding: 10px 52px;
  background-color: var(--button-hover);
  font-size: 16px;
  line-height: 1.87;
  color: var(--invert-text-color);
  cursor: pointer;
  display: inline-block;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


/*backdrop-form*/



.backdrop-svg{
  fill: #000000;
}
.input-backdrop{
  margin-bottom: 10px;
  position: relative;
}
.input-backdrop-last{
  margin-bottom: 20px;
}
.backdrop-form-label{
  display: block;
  color: rgba(117, 117, 117, 1);
  font-size: 12px;
  line-height: 1.67;
  margin-bottom: 4px;

}
.backdrop-form-input{
 width: 100%;
 border: 1px solid rgba(33, 33, 33, 0.2);
 height: 40px;
 border-color: rgba(33, 33, 33, 0.2) ;
 border-radius: 4px;
 padding: 12px 42px;
 cursor: pointer;
 transition-property: border ;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-form-input:focus,
.backdrop-form-input:active {
  border: 1px solid rgba(33, 150, 243, 1);
  outline: none;
}
.backdrop-form-comment{
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  background-color: var(--white-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-form-comment::placeholder{
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01;
  color: rgba(117, 117, 117, 0.5);
}
.media-icon-join1{
  fill: currentColor;
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 14px;
  left:15px ;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.media-icon-join2{
  fill: currentColor;
  width: 13px;
  height: 13px;
  position: absolute;
  bottom: 14px;
  left:15px ;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.media-icon-join3{
  fill: currentColor;
  width: 15px;
  height: 12px;
  position: absolute;
  bottom: 14px;
  left:15px ;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
 
.backdrop-form-input:focus  ~ .media-icon-join1,
.backdrop-form-input:active ~ .media-icon-join1
 {
  fill: var(--accent);
}

.backdrop-form-input:focus ~ .media-icon-join2,
.backdrop-form-input:active ~ .media-icon-join2 {
  fill: var(--accent);
}
 
.backdrop-form-input:focus ~ .media-icon-join3,
.backdrop-form-input:active ~ .media-icon-join3 {
  fill: var(--accent);
}



/*form-privacy*/ 



.link-background{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent);
}
.form-privacy{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(117, 117, 117, 1); 
  display: flex;
  align-items: center;
  justify-content: center;

}

.checkbox-input{
  appearance: none;
}
.checkbox-control{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 7px;
  border: 2px solid var(--secondary-text-color) ;
  border-radius: 2px;
}
.checkbox-icon{
  width: 14px;
  height: 13px;
  fill: var(--invert-text-color);
  opacity: 0;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}


.checkbox-input:checked + .checkbox-icon{
  background-color: var(--accent);
  opacity: 1;
  outline: 2px solid var(--accent);

}