.connexion{
}
.connexion__address{
  font-style: normal;
  margin-top: 20px;
}
.connexion__list{
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.connexion__item{
  list-style: none;
  margin-bottom: 9px;
}
.connexion__link{
  text-decoration: none;
  line-height: 1.7;
  color:   rgba(255, 255, 255, 0.6);
  transition-property: color ;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.connexion__link:hover,
.connexion__link:focus{
  color: var(--accent);
}
.addreses{
color: var(--invert-text-color);
}