.service{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    margin-left: 0;

  
&__service-card{
  margin-right: 30px;
  margin-bottom: 30px;}
  flex-basis: calc((100% - 90px) / 3);
}
